# Proyecto final. Análisis de factores que inciden en la actividad delictiva

## Análisis de estadística descriptiva

### Ingreso promedio de los hogares por entidad federativa

Importamos la base de datos:

In [46]:
import pandas as pd
import numpy as np

In [51]:
bd = pd.read_csv("base_final.csv")

Exploramos a detalle la base de datos

In [52]:
bd.shape

(160, 23)

In [53]:
bd.columns

Index(['ao', 'clave_ent', 'edo', 'homicidio', 'robocasa', 'robocalle',
       'robocarro', 'extorsion', 'tasahomicidio', 'tasarobocasa',
       'tasarobocalle', 'tasarobocarro', 'tasaextorsion', 'desocupa',
       'edad15a24', 'edad25a34', 'edad35a44', 'edad45mas', 'pob_tot', 'pibe',
       'ingreso', 'pob_ext', 'pobreza'],
      dtype='object')

In [54]:
bd.describe(include="all")

,ao,clave_ent,edo,homicidio,robocasa,robocalle,robocarro,extorsion,tasahomicidio,tasarobocasa,...,desocupa,edad15a24,edad25a34,edad35a44,edad45mas,pob_tot,pibe,ingreso,pob_ext,pobreza
count,160.000000,160.000000,160,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,160.000000,...,160.000000,1.600000e+02,1.600000e+02,1.600000e+02,1.600000e+02,1.600000e+02,1.600000e+02,1.280000e+02,128.000000,128.000000
unique,NaN,NaN,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Chihuahua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2017.000000,16.500000,NaN,1230.825000,2701.98125,2454.343750,5914.500000,198.181250,34.348250,92.510375,...,4743.922701,7.406313e+05,6.568194e+05,5.697750e+05,1.004019e+06,3.875842e+06,5.391530e+05,9.843110e+08,6.985859,41.128516
std,1.418654,9.262082,NaN,945.839998,2300.18593,4721.687582,8838.664012,311.248164,20.720682,87.032577,...,59960.909736,8.662309e+05,6.883265e+05,6.952924e+05,8.838526e+05,3.217754e+06,5.618525e+05,1.490340e+09,7.217705,14.972258
min,2015.000000,1.000000,NaN,84.000000,80.00000,0.000000,221.000000,0.000000,3.900000,6.520000,...,1.279218,1.290150e+05,1.190830e+05,1.004100e+05,1.644870e+05,7.198460e+05,9.558523e+04,9.691000e+04,0.470000,12.890000
25%,2016.000000,8.750000,NaN,460.250000,1314.75000,181.250000,1515.250000,24.750000,20.145000,33.562500,...,2.790710,3.282590e+05,2.891378e+05,2.360448e+05,4.308870e+05,1.757316e+06,2.283873e+05,1.812148e+05,2.440000,28.745000
50%,2017.000000,16.500000,NaN,1000.500000,2349.00000,819.500000,3421.500000,116.000000,27.825000,65.875000,...,3.543905,5.377240e+05,4.699235e+05,4.126090e+05,7.893785e+05,3.026771e+06,3.835130e+05,1.398124e+06,4.360000,40.015000
75%,2018.000000,24.250000,NaN,1761.250000,3112.75000,1765.000000,5461.500000,198.250000,42.885000,116.817500,...,4.201930,9.278552e+05,8.216142e+05,6.390770e+05,1.156226e+06,4.895339e+06,5.778418e+05,1.811515e+09,7.825000,50.660000
max,2019.000000,32.000000,NaN,4494.000000,12999.00000,27783.000000,54742.000000,2487.000000,105.540000,389.280000,...,758455.777800,9.076307e+06,6.304888e+06,7.171181e+06,4.701247e+06,1.720000e+07,3.128248e+06,9.758577e+09,30.220000,77.080000

In [55]:
type(bd.ingreso)

pandas.core.series.Series

In [56]:
type(bd.pobreza)

pandas.core.series.Series